:root {
    color-scheme: dark;
    --primary: #161616;
    --secondary: #202020;
    --tertiary: #303030;
    --quaternary: #3f3f3f;
    --quinary: #565656;
    --text: #dadada;
    --darker-text: #aaaaaa;
    --lighter-text: #fafafa;
}

body,
#taskNameField,
.nav-pills .nav-link.active {
    background-color: var(--primary);
}

.navbar,
.task-checkbox,
.list-group-item,
.card,
.tox,
#statusBar,
.modal-content,
#newTaskBox,
#newJournalTitleField,
#descriptionContainer textarea,
#bigTaskCheckbox:not(:checked),
#journalInfoCol,
#entryList,
.offcanvas,
.modal-content {
    background-color: var(--secondary);
}

.accordion-button,
.accordion-item {
    background-color: var(--secondary) !important;
}

.list-group-item.active,
.form-check .form-check-input,
#newTaskNameField,
.graybtn,
#importJournalBtn,
#journalBtnContainer .btn:not(.redbtn),
#taskDisplaySelect,
#dueSelect,
#statEditTypeSelect,
input[type="date"],
input[type="date"]:focus,
input[type="time"],
input[type="time"]:focus,
#newTagModal input[type="text"],
#taskInfoColumn input[type="number"],
.html-duration-picker,
.html-duration-picker:focus,
#prioritySelectBtn,
#journalSearchField,
#journalFileField,
#newJournalTitleField,
#coverTypeField,
.entry-highlighted,
#statEditModal input {
    background-color: var(--tertiary);
}

.dropdown-menu,
.dropdown-item:hover,
.dropdown-item:active,
.date-select-btn,
.stat-add-value-btn,
.graybtn:hover,
#importJournalBtn:hover,
#importJournalBtn:active,
.scroll-btn,
#daysOfWeekContainer label,
#actionsContainer button,
#cancelBtn,
.toast {
    background-color: var(--quaternary);
}

.dropdown-item.active {
    background-color: #4f4f4f;
}

.owner-badge,
.stat-add-value-btn:hover,
.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
#actionsContainer button:hover,
#actionsContainer button:focus,
.graybtn:focus,
#daysOfWeekContainer label:hover,
.stat-add-value-btn:focus {
    background-color: var(--quinary);
}

#daysOfWeekContainer .btn-check:checked + label {
    background-color: #656565;
}

.text-bg-secondary {
    background-color: #656565 !important;
}

.navbar {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23aaaaaa' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


.dropdown-header,
.list-group-item,
.bi,
.nav-link,
.nav-link.active,
.offcanvas-body .nav-link.active,
.nav-link:focus,
#showingText,
.dropdown-toggle::after,
#dateSelectorDash,
.dropdown-item:not(.custom-color),
.dropdown-item:not(.custom-color):hover,
#taskInfoColumn span,
#mobileProfileBtn span,
.stats-info,
input[type="date"],
input[type="date"]:focus,
input[type="time"],
input[type="time"]:focus,
.toast-body,
.list-group-item a,
label,
h1, h2, h3, h4, h5, h6,
p, span, li, input, i, button,
#journalTitle,
#entryTitle,
#entryDate,
#entryDateContainer .bi-calendar2,
#stopwatchBtn,
#moreOptionsBtn,
#newEntryBtnWide,
#allEntriesBtn,
#randomEntryBtn,
#journalFileField,
#statusBar {
    color: var(--text);
}

.accordion-button,
.accordion-button::after,
select,
textarea,
input[type="text"],
input[type="number"],
.html-duration-picker {
    color: var(--text) !important;
}

.nav-link:hover, .nav-link:hover .bi {
    color: var(--darker-text) !important;
}

.nav-link.active, .nav-link.active .bi {
    color: var(--lighter-text);
}

::placeholder, .text-muted:not(.text-red), .text-muted:not(.text-red) .bi {
    color: #787878 !important;
}

.navbar-toggler, #syncBtn .bi-arrow-repeat {
    color: #d0d0d0;
}

#taskInfoColumn h1 {
    color: #7f7f7f;
}

.modal-header,
.modal-footer,
#workspaceOptionsBtn:hover,
#listOptionsBtn:hover,
#tagOptionsBtn:hover {
    border-color: var(--tertiary);
}

.list-group-item:not(.journal-link .list-group-item),
.list-group-item.active,
.accordion-item,
#descriptionContainer textarea,
#bigTaskCheckbox,
#taskInfoColumn input[type="number"],
.html-duration-picker,
.stat-edit-btn:hover,
#newTaskNameField,
#taskDisplaySelect,
#dueSelect,
#statEditTypeSelect,
input[type="date"],
input[type="time"],
.date-select-btn,
#newTagModal input[type="text"],
#journalSearchField,
#journalFileField,
#newJournalTitleField,
#coverTypeField,
#statEditModal input {
    border-color: var(--quaternary);
}

input[type="checkbox"]:not(:checked),
input[type="checkbox"]:active,
.offcanvas hr,
.dropdown-menu {
    border-color: var(--quinary);
}

.btn-outline-secondary:hover {
    border-color: #676767;
}

.navbar {
    box-shadow: 0px 8px 8px rgb(0 0 0 / 20%) !important;
}

input[type="checkbox"] {
    border-width: 2px;
}

input[type="checkbox"]:checked {
    background-color: #bf2222 !important;
}

@media only screen and (max-width: 550px) {

    .nav-pills .nav-link.active {
        background-color: var(--quaternary);
    }

}

@media only screen and (min-width: 551px) {

    #navbarContent .nav-link.active, .nav-pills .nav-link.active {
        border-radius: 0;
        box-shadow: inset 0 -2px 0 var(--quinary);
    }

}

.offcanvas .nav-link.active {
    border-left: 4px solid var(--quinary);
}

input:not([type="radio"]):checked,
input:not([type="radio"]):focus,
textarea:focus,
select:focus,
.btn:focus,
.accordion-button:focus,
.task-selected {
    border-color: #6b2121 !important;
}

select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dadada' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23dadada'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

#newTaskBox {
    border: 2px dotted #999;
}

#newTaskNameField {
    border: none;
    background: var(--secondary);
    font-size: 20px;
}

#pastDueLink, #pastDueLink .bi-exclamation-circle, .text-red, .text-red .bi {
    color: #d8231a !important;
}

.accordion-button:not(.collapsed) {
    box-shadow: inset 0 -1px 0 var(--quaternary) !important;
}

#prioritySelectBtn {
    border: 1px solid var(--quaternary);
}

.caret-up {
    border-color: transparent transparent var(--text) transparent !important;
}

.caret-down {
    border-color: var(--text) transparent transparent transparent !important;
}

.btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23dadada'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    opacity: 1;
}

.navbar-toggler, #taskNameField {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23d0d0d0' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.bg-danger {
    background-color: #d8231a !important;
}

.modal-footer .btn-primary, .redbtn, #saveBtn {
    background-color: #aa2020;
}

.redbtn:hover, .redbtn:focus, .redbtn:active {
    background-color: #c82020;
}

#newEntryBtnWide, #allEntriesBtn, #journalNav #randomEntryBtn {
    background-color: var(--tertiary);
}

.dropdown-menu {
    background-color: var(--tertiary) !important;
    border: 2px solid var(--quaternary) !important;
}

.modal-content .btn-close {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23dfdfdf'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e");
}

#newEntryBtnWide, #randomEntryBtn {
    border: none !important;
}

#allEntriesBtn {
    border-left: none !important;
    border-right: none !important;
}

#newEntryBtnWide:hover, #allEntriesBtn:hover, #journalNav #randomEntryBtn:hover {
    background-color: var(--quaternary);
}

.vr {
    border-left: 1px solid #777 !important;
}

#entryList .journal-link:not(:last-child) .list-group-item {
    border-bottom: 1px solid #404040;
}
