body, #writingContainer, .row {
    height: calc(100vh - 80px);
}

.list-group {
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
}

#writingCol {
    width: 40%;
    padding-top: 50px;
}

#writingArea {
    height: 80%;
}

.bi-plus-circle {
    margin-right: 3px;
}

.list-group-item {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #404040;
    border-radius: 0 !important;
}

.list-group-item, #entryDateContainer, #stopwatchBtn, #moreOptionsBtn {
    cursor: pointer;
}

.journal-link {
    text-decoration: none !important;
}

#entryTitle {
    font-size: 26px;
    margin: 18px;
    width: 100%;
    border: none !important;
}

#entryDateContainer {
    margin-left: 20px;
    margin-bottom: 10px;
    user-select: none;
    width: fit-content;
}

.bi-calendar2 {
    font-size: 16px;
}

#entryDate::-webkit-inner-spin-button,
#entryDate::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
}

#entryDate {
    margin-left: 5px;
    font-size: 14px;
}

button[title='Save'] path {
    transition: fill 0.3s !important;
}

#searchBox {
    padding: 8px;
    margin-bottom: 5px;
}

#journalNav {
    display: flex;
    flex-direction: column;
    padding-left: 7px;
    padding-right: 7px;
}

#newEntryBtnWide, #allEntriesBtn, #journalNav #randomEntryBtn {
    height: 50px;
    text-align: left;
    padding-left: 15px;
}

#newEntryBtnWide .bi-plus-circle, .bi-list-ul, .bi-shuffle {
    margin-right: 5px;
}

#newEntryBtnWide {
    border-radius: 10px 10px 0px 0px;
}

#allEntriesBtn {
    border-radius: 0;
    display: flex;
    align-items: center;
    border-top: 1px solid #494949;
    border-bottom: 1px solid #494949;
}

#journalNav #randomEntryBtn {
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 10px;
}

#journalTitle {
    width: fit-content;
    padding-left: 8px;
    font-size: 32px;
    text-decoration: none;
}

.col-2 {
    padding-top: 12px;
}

#entryList {
    user-select: none;
}

#moreOptionsBtn {
    padding: 5px;
    margin-top: -5px;
    margin-left: 8px;
}

#stopwatchBtn {
    padding: 5px;
    margin-top: -9px;
    margin-left: -16px;
}

#stopwatchBtn::after, #moreOptionsBtn::after {
    display: none;
}

#moreOptionsBtn i {
    font-size: 18px !important;
}

#entryOptions {
    display: flex;
}

.dropdown-menu {
    padding: 5px 0 5px 0 !important;
}

.dropdown-item {
    padding: 5px 10px 5px 10px !important;
    user-select: none;
}

.bi-info-circle {
    margin-right: 2px !important;
}

.tooltip {
    opacity: 1.0 !important;
}

.tooltip {
    user-select: none;
}

#stopwatch {
    font-size: 18px;
    margin: 5px 0px 5px 0px;
}

#statusBar {
    user-select: none;
    font-size: 12px;
    padding: 8px;
    border-top: 2px solid #303030;
}

.vr {
    display: inline;
    margin-left: 5px !important;
    margin-right: 5px !important;
    opacity: 1;
}

.tooltip-arrow {
    margin-top: -5px;
}

.tooltip-inner {
    margin-top: -60px;
}

.modal-body p:last-child {
    margin-bottom: 0;
}

#stopwatchBtn, #moreOptionsDropdown {
    z-index: 1000;
}

small {
    font-size: 12px;
    color: #a7a7a7;
}

#newEntryBtnWide:focus, #allEntriesBtn:focus, #randomEntryBtn:focus {
    z-index: 1000;
}

#entryTitle {
    box-shadow: none !important;
}

.small-entry-item {
    font-size: 14px;
}
