#journalsContainer {
	width: 65%;
	margin-top: 15px;
}

#journalCount {
	padding-top: 12px;
	flex: 1 0 200px;
}

#journalList {
	display: flex;
	flex-wrap: wrap;
}

.card {
	width: fit-content;
	height: 325px;
	padding: 16px 25px 16px 25px;
	border-radius: 10px;
	margin: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
}

.journal-link {
	text-decoration: none !important;
}

.journal-link h1 {
	font-size: 2rem;
	text-align: center;
	max-width: 250px;
}

small {
	font-size: 12px;
	text-decoration: none;
	color: #a7a7a7;
}

#newJournalTitleField {
	flex: 0 0 250px;
	margin-left: auto;
}

#importJournalBtn {
	flex: 0 0 fit-content;
}
