h1 {
	padding-top: 12px;
}

.main-container {
	width: 65%;
}

#entryList {
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
}

.list-group-item {
	margin: 0 16px 12px 16px;
	padding-top: 0;
	border: none;
}

#entryList .journal-link:last-child .list-group-item {
    margin-bottom: 0;
    padding-bottom: 0;
}

#journalInfo, #newEntryBtn, #randomEntryBtn, #exportJournalBtn, #deleteJournalBtn {
	margin-bottom: 16px;
}

#newEntryTitleField {
	max-width: 300px;
	margin: 0;
}

#resultCountText {
	margin-right: 10px;
}

.journal-link {
	text-decoration: none;
}

small {
	font-size: 12px;
	color: #a7a7a7;
}

#newEntryBtn, #exportJournalBtn, #editJournalBtn {
	flex: 0 0 fit-content;
	height: 38px;
}
