input:not([type="radio"]):checked,
input:not([type="radio"]):focus,
textarea:focus,
select:focus,
.btn:focus,
.accordion-button:focus,
.task-selected {
    border-color: #f98781 !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, input[type="checkbox"]:checked, .dropdown-item:active {
    background-color: #bf2222 !important;
}

.nav-link {
	color: white !important;
}

.navbar {
    background-color: #931a1a;
}

#signInBody {
	background-color: #f5f5f5;
}

#logoContainer::after, #profileBtn::after {
	color: #eee;
	margin-bottom: -2px;
}

.list-group-item.active {
	color: #000;
}

#datePrevBtn, #dateNextBtn {
	border-color: #ced4da;
}
