@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url(/font/Inter-VariableFont_slnt,wght.ttf);
}

* {
    font-family: 'Inter', sans-serif !important;
}

.pixelated { 
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

body {
    margin-bottom: 25px;
}

.toast-container > :not(:last-child) {
    margin-bottom: 8px;
}

#logo {
    width: 56px;
    user-select: none;
    cursor: pointer;
}

#logoContainer::after {
    margin-bottom: -3px;
}

.navbar {
    padding-top: 6px;
    padding-bottom: 6px;
}

.navbar-brand {
    padding: 0;
}

.offcanvas {
    z-index: 1002;
}

.offcanvas-backdrop {
    z-index: 1001;
}

.dropdown-menu {
    z-index: 1500;
}

.toast .d-flex {
    z-index: 2000;
}

.d-flex-hideable {
    display: flex;
}

#intervalContainer {
    max-width: 170px;
}

.btn-primary, .btn-secondary {
    border: none;
}

::selection {
    background-color: rgba(158, 34, 34, .5);
}

.html-duration-picker {
    width: 110px;
    padding-right: 25px !important;
    text-align: left !important;
}

.btn:focus,
.btn-close:focus,
.navbar-toggler:focus,
input:not([type="radio"]):focus,
select:focus,
textarea:focus,
.accordion-button:focus,
.task-selected {
    box-shadow: 0 0 0 0.25rem rgb(255 50 50 / 25%) !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.nav-link .bi {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

#syncBtn {
    font-size: 35px;
    padding: 0px 6px 0px 6px;
}

#profileBtn .rounded-circle {
    margin-top: -4px;
}

.list-group-item {
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-checked-content .dropdown {
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px 8px 5px 5px;
}

.form-checked-content .bi-pencil-square {
    margin-left: 5px;
}

.task-options-btn {
    border: none;
    padding: 2px 4px 2px 4px;
}

.task-options-btn::after {
    display: none;
}

.form-check-label {
    user-select: none;
}

.dropdown-item {
    user-select: none;
    cursor: pointer;
}

#actionsContainer {
    margin-top: 10px;
}

#dueContainer, #priorityContainer, #durationContainer, #tagsContainer {
    margin-top: 20px;
}

#startDateContainer {
    margin-top: 10px;
}

.scroll-btn[aria-label="Increase duration"] {
    height: 18px !important;
    top: 0 !important;
}

.scroll-btn[aria-label="Decrease duration"] {
    height: 18px !important;
    top: 18px !important;
}

#tagsSpan {
    margin-right: 15px;
}

#addTagBtn {
    border: none;
    background: linear-gradient(to top left, #ff0000, #0000ff);
}

#mainContainer, #descriptionContainer, #statsContainer {
    margin-top: 20px;
}

.list-group h5, .task-description, #priorityContainer .form-check {
    margin-bottom: 0;
}

.list-heading {
    display: inline-block;
    margin-left: 5px;
}

.list-heading:not(.top) {
    margin-top: 20px;
}

.offcanvas .list-heading {
    font-size: 18px;
}

.bi-briefcase, .bi-list-task, #priorityContainer span {
    margin-right: 2px;
}

#priorityContainer span {
    align-self: center;
}

#listsHeading, #tagsHeading {
    margin-top: 25px;
}

.list-group-item.active {
    border-color: rgba(0, 0, 0, 0.125);
    background-color: #f5f5f5;
}

.btn-tiny {
    display: inline-block;
    padding: 0 3px 0 3px;
}

.list-options-btn {
    float: right;
}

#workspaceOptionsBtn, #mobileWorkspaceOptionsBtn {
    margin-top: -31px;
}

#listOptionsBtn, #tagOptionsBtn {
    margin-top: 26px;
}

#mobileListOptionsBtn {
    margin-top: 19px;
}

#mobileTagOptionsBtn {
    margin-top: 18px;
}

#addTaskCollapseBtn {
    display: inline-block;
    margin-left: 5px;
}

.icon-with-margin {
    margin-right: 4px;
}

.list-header {
    display: inline-block;
}

.list-header:not(.extra-top-margin) {
    margin: 5px 0px 10px 2px;
}

.list-header.extra-top-margin {
    margin: 35px 0px 10px 2px;
}

.task-checkbox {
    font-size: 1.75em;
    margin: 7px 0px 7px 0px;
}

.task-checkbox:checked {
    opacity: 1;
}

.form-check-input.skipped {
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%23dcdcdc%22%20class%3D%22bi%20bi-skip-forward-fill%22%20viewBox%3D%22-2%20-2%2022%2022%22%3E%3Cpath%20d%3D%22M15.5%203.5a.5.5%200%200%201%20.5.5v8a.5.5%200%200%201-1%200V8.753l-6.267%203.636c-.54.313-1.233-.066-1.233-.697v-2.94l-6.267%203.636C.693%2012.703%200%2012.324%200%2011.693V4.308c0-.63.693-1.01%201.233-.696L7.5%207.248v-2.94c0-.63.693-1.01%201.233-.696L15%207.248V4a.5.5%200%200%201%20.5-.5z%22%2F%3E%3C%2Fsvg%3E) !important;
}

.task-subtask-container .form-check {
    margin-left: 5px;
    margin-bottom: 8px;
}

.subtask-checkbox {
    font-size: 1.2em;
}

#bigTaskCheckbox {
    font-size: 2.25em;
    margin-right: 5px;
    margin-bottom: 11px;
}

#taskNameField {
    padding: 3px 6px 3px 6px;
    font-size: 25px;
    font-weight: bold;
    max-width: 415px;
}

#cancelBtn {
    margin-left: 10px;
    margin-right: 10px;
}

.form-checked-content {
    margin-top: 4px;
}

.task .form-check-input {
    border-width: 2px;
}

.task-title {
    display: inline-block;
    margin-top: -3px;
    margin-bottom: 3px;
    font-size: 20px;
}

#daysOfWeekContainer label:first-of-type {
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

#nothingSelectedSpan {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    margin-top: 50px;
    text-align: center;
    white-space: nowrap;
    font-size: 22px;
}

#taskInfoColumn .dropdown {
    float: right;
}

#prioritySelectBtn::after {
    margin-bottom: -1px;
}

.stat-edit-btn {
    font-size: 20px;
    margin-top: 2px;
}

.stat-add-value-group {
    flex: 0 0 150px;
    margin-right: 15px;
}

#dueSpan {
    flex: 0 0 fit-content;
}

.tag {
    margin-right: 4px;
}

.task-description {
    margin-top: -2px;
    margin-bottom: 3px;
}

.task-completed > * {
    opacity: .5;
}

.task-completed .task-title {
    text-decoration: line-through;
}

#descriptionContainer textarea {
    min-height: 250px;
}

#descriptionContainer small {
    margin-bottom: 5px;
}

#dueSelect {
    flex: 0 0 165px;
}

#statTypeSelect {
    max-width: 250px;
}

#statTypeSelect {
    margin-left: 10px;
    margin-top: 10px;
}

#taskDisplaySelect {
    height: fit-content;
    flex: 0 0 130px;
}

#dateSelectorInput {
    flex: 0 0 150px;
}

#showingText {
    margin: 7px 10px 0 2px;
}

#newTaskItem {
    padding-top: 12px;
    padding-bottom: 12px;
}

#newTaskNameField {
    margin-top: -2px;
    margin-left: -5px;
    padding: 5px;
    font-weight: bold;
}

#newTaskBtn {
    flex-shrink: 0;
    margin-top: -4px;
}

.stats-upper-container {
    margin-bottom: 15px;
}

.date-select-btn {
    padding-left: 8px;
    padding-right: 8px;
    height: fit-content;
}

#dateSelector {
    justify-content: center;
}

#dateSelectorContainer {
    margin-left: 15px;
    margin-right: 15px;
}

.new-task-box {
    border-style: dotted;
}

.delete-btn, .delete-btn:hover, .delete-btn .bi-trash {
    color: #dd2113;
}

input[type="date"] {
    width: initial;
    height: fit-content;
    display: inline-block;
}

.list-header {
    flex: 0 0 fit-content;
}

#dueContainer {
    margin-left: 2px;
}

.all-done-item span {
    font-size: 20px;
    margin-left: 14px;
}

#topMenu {
    margin-bottom: 15px;
}

#toDoListHeader {
    margin-top: -5px;
}

.bi-share-fill {
    margin-left: 5px;
}

#profileBtn::after {
    margin-bottom: -3px;
}

#mobileProfileBtn::after {
    display: none;
}

.nav-pills .nav-link {
    cursor: pointer;
}

#navbarContent .nav-link.active {
    font-weight: bold;
}

.nav-pills .nav-link .badge {
    position: relative;
    top: -2px;
    margin-left: 3px;
}

.task-selected, .btn-close {
    z-index: 1000;
}

.offcanvas {
    padding-bottom: 84px;
}

.offcanvas-body {
    padding: 0 16px 16px 16px;
    height: 100%;
}

.offcanvas .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    width: fit-content;
    padding-right: 50px;
}

.offcanvas .nav-link.active {
    padding-left: 8px;
}

.offcanvas .nav-item {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 5px;
}

#mobileProfileBtn {
    display: block;
    margin-top: 5px;
    margin-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#mobileProfileBtn img {
    position: absolute;
    top: 20px;
    left: 20px;
}

.offcanvas hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

.offcanvas .nav-link:not(.text-small) {
    font-size: 18px;
}

.offcanvas .nav-link.text-small {
    font-size: 16px;
}

#mobileProfileBtn .full-name-header,
#mobileProfileBtn .username-span {
    display: inline-block;
    padding-left: 55px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 15px);
}

.full-name-header {
    margin-bottom: 0;
}

.username-span:not(.no-full-name) {
    font-size: 15px;
}

#mobileProfileBtn .username-span.no-full-name {
    font-size: 20px;
    margin-top: 5px;
}


#taskDescriptionField {
    font-family: monospace !important;
}

#intervalInput {
    flex: 0 0 75px;
}

.list-group-item a {
    text-decoration: none;
}

.owner-badge {
    position: relative;
    top: -2px;
    left: 5px;
}

#tagColorContainer label[for] {
    border-radius: 50%;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 20px;
}

#tagColorContainer label {
    box-shadow: none;
}

#customOption {
    position: absolute;
    right: 50px;
}

#veryLowOption {
    color: green !important;
}

#lowOption {
    color: #44c944 !important;
}

#mediumOption {
    color: #e59d16 !important;
}

#highOption {
    color: #d3d326 !important;
}

#veryHighOption {
    color: #d8231a !important;
}

#notSetOption:focus, #veryLowOption:focus, #lowOption:focus, #mediumOption:focus, #highOption:focus, #veryHighOption:focus {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#notSetOption:checked {
    background-color: #707070;
    border-color: #808080;
}

#veryLowOption:checked {
    background-color: green;
    border-color: #008f00;
}

#lowOption:checked {
    background-color: #44c944;
    border-color: #55c955;
}

#mediumOption:checked {
    background-color: #e59d16;
    border-color: orange;
}

#highOption:checked {
    background-color: #d0d020;
    border-color: #d3d326;
}

#veryHighOption:checked {
    background-color: #d8231a;
    border-color: #ff231a;
}

#notSetOption:focus {
    box-shadow: 0 0 0 0.25rem rgb(112 112 112 / 35%) !important;
}

#veryLowOption:focus {
    box-shadow: 0 0 0 0.25rem rgb(0 128 0 / 35%) !important;
}

#lowOption:focus {
    box-shadow: 0 0 0 0.25rem rgb(68 201 68 / 25%) !important;
}

#mediumOption:focus {
    box-shadow: 0 0 0 0.25rem rgb(229 157 22 / 25%) !important;
}

#highOption:focus {
    box-shadow: 0 0 0 0.25rem rgb(211 211 38 / 25%) !important;
}

#veryHighOption:focus {
    box-shadow: 0 0 0 0.25rem rgb(216 35 26 / 25%) !important;
}

@media only screen and (max-width: 374px) {


    #dateSelectorContainer {
        flex-wrap: wrap;
    }

    #dateSelectorContainer input {
        text-align: center;
    }

    #dateSelectorDash {
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }

}

@media only screen and (max-width: 550px) {

    .date-select-btn {
        display: none;
    }

}


@media only screen and (max-width: 767px) {

    .form-checked-content .task-tag-container {
        display: block;
        margin-bottom: 10px;
    }

    input[type="date"] {
        border-radius: 0.375em !important;
    }

    #dateSelector {
        margin-left: 0;
    }

    #showingText {
        display: none;
    }

}

@media only screen and (min-width: 768px) {


    .form-checked-content .task-tag-container {
        display: inline-block;
        position: absolute;
        margin: -1px 0px 5px 10px;
    }

    #dateSelector {
        margin-left: 5px;
    }

    #dateSelector, #secondDateSelector {
        flex: 0 0 210px;
    }

}

@media only screen and (max-width: 1199px) {

    .col {
        width: 100%;
    }

    #listsColumn, #taskInfoColumn {
        display: none;
    }

    #taskDisplaySelect {
        border-top-left-radius: 0.375em;
        border-bottom-left-radius: 0.375em;
    }

    #dateSelectorInput {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

}

@media only screen and (min-width: 1200px) {

    #addTaskCollapseBtn {
        margin-bottom: 7px;
    }

    #syncBtn {
        margin-right: 15px;
    }

}

@media only screen and (max-width: 1919px) {

    #topMenu {
        justify-content: center;
    }

    .stats-info {
        margin-left: 15px;
        margin-right: 15px;
    }

    #daysOfWeekContainer label {
        font-size: 15px;
        padding: 5px 10px 5px 10px;
    }

}

@media only screen and (min-width: 1920px) {

    #topMenu {
        justify-content: center;
    }

    .stats-info {
        margin-right: 85px;
    }

}
