html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
}

.form-signin {
  max-width: 500px;
  padding: 15px 15px 200px 15px;
}

#signInLogo {
  cursor: pointer;
}

#rememberMeLabel {
  user-select: none;
}
